/* Signup.css */

body {
    margin: 0;
    padding: 0;
    background-color: #282c34; /* Couleur de fond sombre */
    color: #fff; /* Couleur du texte */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .EditUserInfo-container {
    max-width: 800px;
    margin: auto;
    margin-top: 100px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  
  h2 {
    text-align: center;
    color: #ccc;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    display: inline-block;
    margin-bottom: 5px;
  }
  
  input {
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  button {
    background-color: #265327;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #043607;
  }
  .l-link {
    margin-top: 10px; /* Espace entre le bouton Connexion et le lien S'inscrire */
    color: #f9faf9; /* Couleur du lien */
    cursor: pointer;
    text-decoration: underline;
  }
  
  .l-link:hover {
    color: #68696b; /* Couleur du lien au survol */
  }